.header {
    background-color: #da380b;
}

@media(min-width: 992px) {
    .header .nav-link { padding: 8px 13px !important; }
}

code {
    color: #da380b;
}

h2 {
    margin-bottom: 1.5rem !important;
}

.w-49 {
    width: 49%;
}

.w-58 {
    width: 58%;
}

.alert-danger {
    background-color: #fcdcd4;
    border-color: #da380b;
    color: #da380b;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all
}

.footer {
    background-color: #fcdcd4;
    border-top: 1px solid #da380b;
}
