.header {
    background-color: #d3360b;
    border-bottom: 1px solid #d3360b;;
}

code {
    color: #d3360b;
}

h2 {
    margin-bottom: 1.5rem !important;
}

.w-58 {
    width: 58%;
}

.alert-danger {
    background-color: #fcdcd4;
    border-color: #d3360b;
    color: #d3360b;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all
}

.footer {
    background-color: #fcdcd4;
    border-top: 1px solid #d3360b;
}
